<h1>Completed Folders</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= sortable "unique_id", "IQ #" %></th>
      <th>Subject</th>
      <th><%= sortable "user_id", "Last with" %></th>
      <th><%= sortable "updated_at", "Last Moved on" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= link_to folder.unique_id, folder %> <span class="badge badge-<%= folder.category %>"><%= folder.category %></span></td>
        <td><%= folder.subject %></td>
		<td><%= folder.user.display_name %></td>
        <td><%= folder.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%A, %m/%d/%Y at %H:%M") %></td>
        <td>
          <ul>
          <% if can? :complete, @folder %>
            <%= button_to 'Mark Incomplete', {:action=>:incomplete,:id=>folder.id }, { :class => 'btn btn-success btn-sm pull-left' } %>
          <% end %></ul></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>