<h1>All Folders</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>IQ #</th>
      <th>Currently with</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= link_to folder.unique_id, folder %> <span class="badge badge-<%= folder.category %>"><%= folder.category %></span></td>
        <td><%= folder.user.display_name %></td>
        <td><%= link_to 'Edit', edit_folder_path(folder), class: 'btn btn-default btn-sm' %>
        <%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Folder', new_folder_path, class: 'btn btn-primary' %>
