<h1>My Folders</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= sortable "unique_id", "IQ #" %></th>
      <th><%= sortable "user_id", "Currently with" %></th>
      <th><%= sortable "updated_at", "Last Moved on" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= link_to folder.unique_id, folder %> <span class="badge badge-<%= folder.category %>"><%= folder.category %></span></td>
        <td><%= folder.user.display_name %></td>
        <td><%= folder.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%A, %m/%d/%Y at %H:%M") %></td>
        <td>
        <ul>
        <% if can? :complete, @folder %>
          <%= button_to 'Mark Complete', {:action=>:complete,:id=>folder.id }, { :class => 'btn btn-success btn-sm pull-left' } %>
        <% end %>
        <% if can? :delete, @folder %>&nbsp;
        <%= link_to 'Delete', folder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        <% end %></ul></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, @folder %>
<%= link_to 'Create New Folder', new_folder_path, class: 'btn btn-primary' %>
<% end %>