<h1>My Folders</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>IQ #</th>
      <th>Currently with</th>
      <th>Last Moved on</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @folders.each do |folder| %>
      <tr>
        <td><%= link_to folder.unique_id, folder %> <span class="badge badge-<%= folder.category %>"><%= folder.category %></span></td>
        <td><%= folder.user.display_name %></td>
        <td><%= folder.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%A, %m/%d/%Y at %H:%M") %></td>
        <td>
        <% if can? :update, @folder %>
        <%= link_to 'Edit', edit_folder_path(folder), class: 'btn btn-default btn-sm' %>
        <% end %>
        <% if can? :delete, @folder %>
        <%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, @folder %>
<%= link_to 'Create New Folder', new_folder_path, class: 'btn btn-primary' %>
<% end %>