<div class="alert"><%= notice %></div>

<h3>IQ #<%= @folder.unique_id %> <span class="badge badge-<%= @folder.category %>"><%= @folder.category %></span>
</h3>

<p>
  <strong>Currently with:</strong>
  <%= @folder.user.display_name %>
</p>

<%= raw @barcode.to_svg %>

<% if @folder.user_id == current_user.id %>
<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag(:folder_id, @folder.id) %>

        <%= f.collection_select :user_id, User.all, :id, :display_name, :prompt => "Move to Another Person..." %>

    <%= f.submit "Move", class: 'btn btn-primary btn-xs' %>

  </div>
<% end %>
<% end %>

<% if can? :complete, @folder %>
  <p><%= button_to 'Mark Complete', {:action=>:complete,:id=>@folder.id }, { :class => 'btn btn-success btn-sm' } %></p>
<% end %>

<h4>History</h4>

<% @histories.each do |history| %>

  <%= history.action %> at <%= history.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%A, %m/%d/%Y at %H:%M") %><br />

<% end %>