<p class="alert alert-success"><%= notice %></p>

<h3>IQ #<%= @folder.unique_id %> <span class="badge badge-<%= @folder.category %>"><%= @folder.category %></span>
</h3>

<p>
  <strong>Currently with:</strong>
  <%= @folder.user.display_name %>
</p>

<% if can? :update, @folder %>
  <%= link_to 'Edit', edit_folder_path(@folder) %>
<% end %>