<div class="alert"><%= notice %></div>

<h3>IQ #<%= @folder.unique_id %> <span class="badge badge-<%= @folder.category %>"><%= @folder.category %></span>
</h3>

<p>
  <strong>Currently with:</strong>
  <%= @folder.user.display_name %>
</p>

<%= raw @barcode.to_svg %>

<% if can? :complete, @folder %>
  <p><%= button_to 'Mark Complete', {:action=>:complete,:id=>@folder.id }, { :class => 'btn btn-success btn-sm pull-left' } %></p>
<% end %>